In [1]:
import pandas as pd

In [27]:
df = pd.read_csv("dataset1.csv")

In [28]:
df.head()

,Date,Attendance,Admissions,Tri_1,Tri_2,Tri_3,Tri_4,Tri_5,Attendance.1,Admissions.1,Tri_1.1,Tri_2.1,Tri_3.1,Tri_4.1,Tri_5.1,Attendance.2,Admissions.2,Tri_1.2,Tri_2.2,Tri_3.2,Tri_4.2,Tri_5.2,Attendance.3,Admissions.3,Tri_1.3,Tri_2.3,Tri_3.3,Tri_4.3,Tri_5.3,Attendance.4,Admissions.4,Tri_1.4,Tri_2.4,Tri_3.4,Tri_4.4,Tri_5.4,Attendance.5,Admissions.5,Tri_1.5,Tri_2.5,Tri_3.5,Tri_4.5,Tri_5.5,Attendance.6,Admissions.6,Tri_1.6,Tri_2.6,Tri_3.6,Tri_4.6,Tri_5.6,Attendance.7,Admissions.7,Tri_1.7,Tri_2.7,Tri_3.7,Tri_4.7,Tri_5.7,Attendance.8,Admissions.8,Tri_1.8,Tri_2.8,Tri_3.8,Tri_4.8,Tri_5.8
0,1-Jul-13,235,99,8.0,33,89,85,20.0,155,70,NaN,25,67,54,9,252,59,NaN,13.0,75,159,4.0,52,6.0,NaN,NaN,7.0,20,25.0,209,109,NaN,42,108,47,11.0,166,19,NaN,16,62,79,9.0,133,17,NaN,29,59,42,NaN,155,10.0,NaN,12,51,81,11.0,267,73,NaN,27,75,151,12 ...
1,2-Jul-13,209,97,NaN,41,73,80,14.0,145,56,NaN,22,51,47,24,219,47,NaN,14.0,61,139,4.0,43,7.0,NaN,NaN,NaN,25,17.0,184,112,NaN,43,73,61,5.0,175,25,NaN,26,73,55,19.0,129,25,NaN,25,57,43,4.0,145,24.0,NaN,26,45,65,8.0,241,81,NaN,23,78,133,7 ...
2,3-Jul-13,204,84,7.0,40,72,79,6.0,118,60,NaN,24,37,43,12,186,31,NaN,11.0,53,120,NaN,55,5.0,NaN,NaN,4.0,23,28.0,171,102,NaN,49,69,48,3.0,145,11,NaN,19,62,60,4.0,126,7,3.0,24,42,55,NaN,151,14.0,NaN,10,50,87,3.0,213,67,NaN,29,66,99,17 ...
3,4-Jul-13,199,106,3.0,37,73,70,15.0,125,61,NaN,21,47,42,14,192,41,NaN,8.0,57,126,NaN,42,6.0,NaN,NaN,7.0,21,14.0,153,89,6.0,35,57,46,9.0,144,15,NaN,15,48,69,12.0,108,19,NaN,14,45,43,6.0,129,15.0,NaN,24,45,55,4.0,227,72,5.0,26,68,117,11 ...
4,5-Jul-13,193,96,4.0,40,76,62,11.0,136,58,4.0,23,51,45,13,201,42,NaN,14.0,53,130,NaN,64,3.0,NaN,NaN,5.0,36,22.0,167,117,7.0,39,70,46,5.0,147,18,NaN,17,59,63,7.0,122,24,3.0,15,61,37,6.0,122,12.0,NaN,19,46,53,4.0,229,71,NaN,37,80,106,4 ...

In [29]:
rows = len(df.axes[0])
cols = len(df.axes[1])
print(df.axes[1])

Index(['Date', 'Attendance', 'Admissions', 'Tri_1', 'Tri_2', 'Tri_3', 'Tri_4',
       'Tri_5', 'Attendance.1', 'Admissions.1', 'Tri_1.1', 'Tri_2.1',
       'Tri_3.1', 'Tri_4.1', 'Tri_5.1', 'Attendance.2', 'Admissions.2',
       'Tri_1.2', 'Tri_2.2', 'Tri_3.2', 'Tri_4.2', 'Tri_5.2', 'Attendance.3',
       'Admissions.3', 'Tri_1.3', 'Tri_2.3', 'Tri_3.3', 'Tri_4.3', 'Tri_5.3',
       'Attendance.4', 'Admissions.4', 'Tri_1.4', 'Tri_2.4', 'Tri_3.4',
       'Tri_4.4', 'Tri_5.4', 'Attendance.5', 'Admissions.5', 'Tri_1.5',
       'Tri_2.5', 'Tri_3.5', 'Tri_4.5', 'Tri_5.5', 'Attendance.6',
       'Admissions.6', 'Tri_1.6', 'Tri_2.6', 'Tri_3.6', 'Tri_4.6', 'Tri_5.6',
       'Attendance.7', 'Admissions.7', 'Tri_1.7', 'Tri_2.7', 'Tri_3.7',
       'Tri_4.7', 'Tri_5.7', 'Attendance.8', 'Admissions.8', 'Tri_1.8',
       'Tri_2.8', 'Tri_3.8', 'Tri_4.8', 'Tri_5.8'],
      dtype='object')

In [30]:
print("Number of Rows: " + str(rows))
print("Number of Columns: " + str(cols))
print(cols)

Number of Rows: 365
Number of Columns: 64
64

In [31]:
df = pd.DataFrame(df)
print(df.dtypes)

Date           object
Attendance      int64
Admissions      int64
Tri_1         float64
Tri_2           int64
               ...
Tri_1.8       float64
Tri_2.8         int64
Tri_3.8         int64
Tri_4.8         int64
Tri_5.8        object
Length: 64, dtype: object

In [34]:
df['Date']

0       1-Jul-13
1       2-Jul-13
2       3-Jul-13
3       4-Jul-13
4       5-Jul-13
         ...
360    26-Jun-14
361    27-Jun-14
362    28-Jun-14
363    29-Jun-14
364    30-Jun-14
Name: Date, Length: 365, dtype: object

In [35]:
df['Admissions']

0       99
1       97
2       84
3      106
4       96
      ...
360    112
361    112
362     95
363     87
364    113
Name: Admissions, Length: 365, dtype: int64

In [36]:
df['Attendance']

0      235
1      209
2      204
3      199
4      193
      ...
360    222
361    224
362    239
363    218
364    234
Name: Attendance, Length: 365, dtype: int64

In [43]:
df['Tri_1']

0       8.0
1       NaN
2       7.0
3       3.0
4       4.0
       ...
360     4.0
361     NaN
362     5.0
363    15.0
364     8.0
Name: Tri_1, Length: 365, dtype: float64